---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to the World of Envirash">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  	  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
	  <span style='width:900px;height:610px'>

  <p  style="text-align: center">&nbsp;</p>
	  <p  style="text-align: center">&nbsp;</p>
	  <h1 class=style16 style="text-align: center">About Us</h1>
		  <hr />
		  <p class=style16 style="text-align: center">&nbsp;</p>
	  <h2 style="text-align: center">
	  <span lang=en-US style='language:en-US' class="style11"><strong>Envirashield is the global leader in moisture, odor, and spoilage control filtration in Commercial and Residential environments.</strong></span></h2>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>Starting out as a small family company, we have grown to a </span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>worldwide scale utilizing an all natural mineral compound </span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>mined in&nbsp;the western United States on a privately held 493 </span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>acre tract.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  	<hr />
  <p  style="text-align: center">
  &nbsp;</p>
	  <h3 class=style12 style="text-align: center">
  	Sorbite</h3>
	  <p  style="text-align: center">
  	&nbsp;</p>
	  <p  style="text-align: center">
  	<span lang=en-US style='font-size:14.0pt;language:en-US'>This mineral known internationally as Sorbite is a highly porous form of diatomaceous Earth with a unique molecular make-up that naturally absorbs and desorbs moisture and gases.&nbsp;Our industry proven usage of this mineral guarantees the elimination of humidity control problems in any interior  environment.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>Our unique line of products are designed to readily meet the needs of any application in any size room or walk-in cooler.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:14.0pt;language:en-US'>Our goal is to help you save thousands of dollars each year by keeping your commercial coolers and food preparation areas free of the harmful effects of humidity and ethylene gases.&nbsp; This process helps your refrigeration compressors run more easily and cycle off and on to industry specifications.&nbsp; This means huge savings for you in energy costs.</span></p>

</span>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
