---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CoolerShield">
    <section class="section">
        <div class="card">
            &nbsp; 
		<div style="height: 793px">
		<table>
		<tr> <td style="height: 66px; width: 181px">
			<span style='width:300px;height:60px'>

			<span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>CoolerShield</span><span lang=en-US
  style='font-size:20.0pt;font-family:"Arial Black";color:red;language:en-US'>™</span></span></td>
			<td colspan="2" style="height: 66px">
			<span style='width:640px;height:90px'>

  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;font-family:"Arial Black";language:en-US'>Benefits for Controlling</span></p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;font-family:"Arial Black";language:en-US'>Humidity in Walk-in Coolers</span></p>

</span>
		</td>
		</tr>
		<tr> <td style="width: 181px; height: 139px">
			<img height="148" src="/index_files/image3741.jpg" width="219" /></td>
			<td class="style11" rowspan="2" style="width: 402px" valign="top">
			<span style='width:320px;height:265px'>

			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>&nbsp;&nbsp; <span style='width:320px;height:265px'>

			<span style='width:5.6pt'>&nbsp;</span>Stay compliant with HACCP and USDA</span></span></p>
			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Removes harmful Ethylene Gases and Pectin Acids</span></p>
			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Reduces defrost cycles by up to 50%</span></p>
			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Reduces the spread of harmful bacteria</span></p>
			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Increases life of compressor motors</span></p>
			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>
			<span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Reduces transfer of odors</span></p>

</span>
		</td>
			<td class="style11" rowspan="2" valign="top">
			<span style='width:320px;height:265px'>

			<p  style='margin-left:11.25pt;text-indent:-11.25pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Extends food life in power failure</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'><span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Absorbs up to 48% of it’s weight in humidity</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'><span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Lowers temperature of refrigerated enclosures</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'><span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Increases storage life of food by up to 50%</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'><span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Reduces food shrinkage</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'><span
  style='direction:ltr;unicode-bidi:embed;font-family:Symbol;font-size:12.0pt;
  language:x-none;color:red'>·</span><span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:11.0pt;font-family:Arial;color:red;font-weight:
  bold;language:en-US'>Saves electricity by decreasing energy usage</span></p>
  <p  style='margin-left:11.25pt;text-indent:-11.25pt'>&nbsp;</p>

</span>
		</td>
		</tr>
		<tr> <td style="width: 181px; height: 155px">
			<ul>
				<li><span style='width:255px;height:107px'>
				<span style='width:5.6pt'>&nbsp;</span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Humidity Control panels are easily installed into existing and new walk-in and merchandise coolers.</span></span></li>
			</ul>
		</td>
		</tr>
		<tr> <td style="width: 181px; height: 155px">
			<img class="style13" height="150" src="/index_files/image3181.jpg" width="225" alt="Installed Envirashield panels" longdesc="coolershield.html" />&nbsp;</td>
			<td style="height: 155px; width: 402px">
			<img class="style12" height="149" src="/index_files/image3651.jpg" width="234" />&nbsp;</td>
			<td style="width: 368px; height: 155px">
			<a href="/coolershield">
			<img height="180" src="/index_files/image3631.jpg" width="260" alt="Envirashield cooler floor before and afer" longdesc="coolershield.html" /></a>&nbsp;</td>
		</tr>
		<tr> <td style="width: 181px; height: 155px">
			<ul>
				<li><span style='width:255px;height:107px'>
				<span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Humidity Control panels are low in profile and installed out of the way of merchandise.</span></span></li>
			</ul>
		</td>
			<td style="height: 155px; width: 402px">
			<ul>
				<li><span style='width:299px;height:180px'>
				<span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Humidity Control panels are highly effective in controlling moisture build-up in coolers, causing compressors to run more efficiently thus saving energy without any mechanical means necessary.</span></span></li>
			</ul>
		</td>
			<td style="width: 368px; height: 155px">
			<span style='width:335px;height:65px'>

  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:11.0pt;font-family:"Arial Black";language:en-US'>CoolerShield™ panels make</span></p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:11.0pt;font-family:"Arial Black";language:en-US'>walk-in coolers dryer and safer</span></p>

</span>
		</td>
		</tr>
		</table>
		</div>
	</div>
</div>
        </div>
    </section>
</BaseLayout>
