---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to the World of Envirash">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 class=style10 style='text-align:center;text-align:center'>Become a 
	  Distributor</h1>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p style='text-align:center;text-align:center'>
	  <span style='width:895px;height:120px'>

	  <span lang=en-US
  style='font-size:16.0pt;language:en-US'>For distributorship opportunities in your area, contact our Sales and Manufacturing Office at (972) 
	  772-2810 or email us at </span><a
  href="/mailto:sales@envirashield.com"><span lang=en-US style='font-size:16.0pt;
  text-decoration:underline;language:en-US'>sales@envirashield.com</span></a><span
  lang=en-US style='font-size:16.0pt;language:en-US'>.</span></span></p>
	  <span style='width:980px;height:224px'>

	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>
	  &nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:980px;height:334px'>

  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:22.0pt;font-weight:bold;language:en-US'>&nbsp;</span></p>

</span>

</span>
	  <p  style='text-align:center;text-align:center; height: 30px;'>
	  &nbsp;</p>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
