---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Envirashield Energy Savings with CoolerShield">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:720px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Energy Savings from CoolerShield</span></span></h1>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:900px;height:671px'>

  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>EnviraShield had Synergy Systems of Dallas, TX perform independent electrical and energy conservation testing on 2 typical convenience store walk-in in coolers with consumer case access.&nbsp; The resulting data was astounding for the amount of energy usage that was reduced by installing the humidity control panel, which allow the units compressors to work less.</span></p>
  <p ><span lang=en-US style='font-size:12.0pt;language:en-US'>&nbsp;</span></p>
  <h2 class=style11><span lang=en-US style='font-size:12.0pt;text-decoration:
  underline;language:en-US'>Cost Savings Summary&nbsp; of Testing Site #1&nbsp; (High volume traffic location)</span></h2>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>Comparison testing revealed that there was a reduction down to</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>only .0540 KWH per hour for each degree of Fahrenheit with</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>the panels installed, resulting in a savings of $93.22 for the 30 days.</span></p>
  <p ><span lang=en-US style='font-size:12.0pt;language:en-US'>&nbsp;</span></p>
  <h3 class=style11><span lang=en-US style='font-size:12.0pt;text-decoration:
  underline;language:en-US'>Cost Savings Summary&nbsp; of Testing Site #2 (Medium volume traffic location)</span></h3>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>Comparison testing revealed that there was a reduction down toonly .0334 KWH per hour for each degree of Fahrenheit withthe panels installed, resulting in a savings of $69.75 for the 30 days.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>Estimated Energy Cost Reduction for 100 Test SitesBased upon following assumptions:</span></p>
	  <ul class="style12" style="width: 349px">
		  <li>
		  <p  style="text-align: left">
		  <span lang=en-US style='font-size:12.0pt;language:en-US'>100 store units</span></p>
		  </li>
		  <li>
		  <p  style="text-align: left">
		  <span lang=en-US style='font-size:12.0pt;language:en-US'>Avg. savings based upon combined store types would be&nbsp; $81.48 per store per month</span></p>
		  </li>
		  <li>
		  <p  style="text-align: left">
		  <span lang=en-US style='font-size:12.0pt;language:en-US'>(Based upon average of&nbsp; .10 cents per KWH.)</span></p>
		  </li>
		  <li>
		  <p  style="text-align: left">
		  <span lang=en-US style='font-size:12.0pt;language:en-US'>Projected yearly energy savings per store for one year&nbsp;&nbsp;&nbsp;&nbsp; $ 977.82&nbsp; (100 stores $97,782.00)</span></p>
		  </li>
	  </ul>
  <p  style="text-align: left"><span lang=en-US style='font-size:12.0pt;language:en-US'>*Test Data revealed that each locations cooler experienced a drop</span></p>
  <p  style="text-align: left"><span lang=en-US style='font-size:12.0pt;language:en-US'>of 5 degrees each with the panels installed.</span></p>
  <p  style="text-align: left"><span lang=en-US style='font-size:12.0pt;language:en-US'>This makes room for the potential of rolling the temperature up of</span></p>
  <p  style="text-align: left"><span lang=en-US style='font-size:12.0pt;language:en-US'>each cooler which would possibly result in even more savings.</span></p>

</span>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
