---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Envirashield Freezer Shield">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt; width: 900px;'
  class=style17>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <table>
	  <td style="width: 542px; height: 112px">
	  <span style='width:300px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>FreezerShield</span><span lang=en-US
  style='font-size:20.0pt;font-family:"Arial Black";color:red;language:en-US'>™</span></span></td>
	  <td style="width: 1225px; height: 112px">
	  <span style='width:640px;height:90px'>

  <p  style='text-align:center;text-align:center; width: 619px;'><span
  lang=en-US style='font-size:14.0pt;font-family:"Arial Black";language:en-US'>Benefits for Controlling</span></p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;font-family:"Arial Black";language:en-US'>Humidity in Walk-in Freezer</span></p>

</span></td>
	  	<tr>
	  <td style="height: 66px; width: 542px">
	  <img class="style11" height="163" src="/index_files/image3541.jpg" width="260" />&nbsp;</td>
	  <td class="style10" rowspan="2" style="width: 1225px" valign="top">
	  <ul>
		  <li><span style='width:469px;height:240px'>

		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Stay compliant with HACCP and USDA</span></span></li>
		  <li><span style='width:469px;height:240px'>

		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Reduces defrost cycles by up to 50%</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Reduces the spread of harmful bacteria</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Increases life of compressor motors</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">aves electricity by decreasing energy 
		  usage</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Extends food life in power failure</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Absorbs up to 48% of it’s weight in humidity</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Lowers temperature of frozen enclosures</span></span></li>
		  <li><span style='width:469px;height:240px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-family:Arial;font-weight:
  bold;language:en-US' class="style12">Reduces transfer of odors</span></span></li>
	  </ul>
			</td>
	  	</tr>
		  <tr>
	  <td style="height: 107px; width: 542px">
	  <ul>
		  <li><span style='width:385px;height:87px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Freezer control panels are easily installed into existing and new walk-in and merchandise freezers.</span></span></li>
	  </ul>
			  </td>
	  	</tr>
		  <tr>
	  <td style="width: 542px">
	  <ul>
		  <li><span style='width:295px;height:140px'>
		  <span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Freezer control panels use a unique blend of minerals to remove moisture and ice build up from freezer interiors caused by excessive humidity.</span></span></li>
	  </ul>
			  </td>
	  <td style="width: 1225px"><span style='width:257px;height:80px'>

	  <ul>
		  <li>
		  <p >
		  <span lang=en-US style='font-size:12.0pt;font-weight:bold;
  language:en-US'>Freezers work optimally with humidity levels 
		<span style='width:980px;height:224px'>

  		<span style='width:257px;height:80px'>

		  		  below 35%.</span></span></span></p>
		  </li>
	  </ul>

</span></td>
	  	</tr>
		  <tr>
	  <td colspan="2">
	  <a href="/freezershield">
	  <img height="214" src="/index_files/image4561.jpg" width="327" class="style19" alt="Freezer before Envirasield panels" longdesc="FreezerShield.html" /></a>&nbsp;<span style='width:980px;height:224px'><a href="/freezershield"><img height="214" src="/index_files/image4581.jpg" width="320" class="style13" alt="Freezer after envirashield panels" longdesc="FreezerShield.html" /></a></span></td>
	  	</tr>
		  <tr>
	  <td class="style14" colspan="2"><span style='width:690px;height:40px'>

	  <span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>FreezerShield™ panels make walk-in freezers dryer, safer, and more efficient. </span>

</span></td>
	  	</tr>
	  </table>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
