---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to the World of Envirash">
  <section class="section">
    <div class="card">
      <span style="width:980px;height:224px">
        <div style="padding:2.88pt 2.88pt 2.88pt 2.88pt">
          <p style="text-align:center;text-align:center">&nbsp;</p>
          <p style="text-align:center;text-align:center">&nbsp;</p>
          <h1 class="style12" style="text-align:center;text-align:center">
            Links:
          </h1>
          <hr />
          <p style="text-align:center;text-align:center">&nbsp;</p>
          <p style="text-align:center;text-align:center">
            <a href="https://www.fridgeguard.net/">
              <img
                class="style13"
                height="91"
                src="/index_files/image5031.jpg"
                width="455"
              /></a
            >&nbsp;
          </p>
          <p style="text-align:center;text-align:center">&nbsp;</p>
          <p style="text-align:center;text-align:center">&nbsp;</p>
          <span style="width:980px;height:224px">
            <p style="text-align:center;text-align:center">
              <a href="https://www.swampcoolersonline.com">
                <img
                  height="
	  91"
                  src="/index_files/Swampcoolersonline.png"
                  width="455"
                  class="style13"
                /></a
              >&nbsp;
            </p>
            <p style="text-align:center;text-align:center">&nbsp;</p>
            <p style="text-align:center;text-align:center">&nbsp;</p>
            <p style="text-align:center;text-align:center">
              <span style="width:980px;height:224px">
                <a href="/../saswebsite4/default">
                  <img
                    class="style15"
                    height="53"
                    src="/index_files/Syergy%20Logo.png"
                    width="455"
                  /></a
                ></span>
            </p>
            <p
              style="text-align:center;text-align:center; font-size: medium; color: #921010;"
            >
              <strong><em>Your Air Quality Control Specialists</em></strong>
            </p>
            <p style="text-align:center;text-align:center">&nbsp;</p>
            <p style="text-align:center;text-align:center">&nbsp;</p>
            <span style="width:980px;height:334px">
              <p style="text-align:center;text-align:center">&nbsp;</p>
              <p style="text-align:center;text-align:center">&nbsp;</p>
              <p style="text-align:center;text-align:center">
                <span
                  lang="en-US"
                  style="font-size:22.0pt;font-weight:bold;language:en-US"
                  >&nbsp;</span>
              </p>
            </span>
          </span>
          <p style="text-align:center;text-align:center; height: 30px;">
            &nbsp;
          </p>
        </div>
      </span>
    </div>
  </section>
</BaseLayout>
