---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to the World of Envirash">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center; width: 576px;'>
	  <span style='width:295px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Product Usage</span></span></h1>
	  <hr />
	  <table>
	  <tr>
	  <td style="width: 282px; height: 214px">
	  <span style='width:240px;height:90px'>

  <p ><span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Restaurants and</span></p>
  <p ><span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Cafeterias</span></p>

</span>
	  </td>
	  <td style="width: 274px; height: 214px">
	  <img height="236" src="/index_files/image5761.jpg" width="281" />&nbsp;</td>
	  </tr>
	  <tr>
	  <td style="width: 282px; height: 39px">
	  <img height="222" src="/index_files/image5781.jpg" width="279" /></td>
	  <td style="width: 274px; height: 39px">
	  <span style='width:195px;height:80px'>

  <p ><span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Convenience </span></p>
  <p ><span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Stores</span></p>

</span>
	  </td>
	  </tr>
	  <tr>
	  <td style="width: 282px">
	  <span style='width:240px;height:40px'>

	  <span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Cold Storage</span></span></td>
	  <td style="width: 274px">
	  <img height="224" src="/index_files/image6801.jpg" width="275" />&nbsp;</td>
	  </tr>
	  <tr>
	  <td style="width: 282px">
	  <img height="184" src="/index_files/image5661.jpg" width="277" />&nbsp;</td>
	  <td style="width: 274px">
	  <span style='width:240px;height:40px'>

	  <span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Floral Cases</span></span></td>
	  </tr>
	  <tr>
	  <td style="width: 282px">
	  <span style='width:240px;height:40px'>

	  <span lang=en-US style='font-size:14.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Food Processing</span></span></td>
	  <td style="width: 274px">
	  <img height="197" src="/index_files/image3911.jpg" width="274" />&nbsp;</td>
	  </tr>
	  </table>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
