---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="ProShield™ Dehumidification Data">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:710px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>ProShield</span><span lang=en-US style='font-size:
  20.0pt;font-family:"Arial Black";color:red;language:en-US'>™</span><span
  lang=en-US style='font-size:20.0pt;font-family:"Arial Black";color:red;
  language:en-US'> Dehumidification Data</span></span></h1>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h2 style='text-align:center;text-align:center'>
	  <span style='width:915px;height:623px'>

	  <span lang=en-US style='font-size:14.0pt;font-weight:bold;
  language:en-US'>ProShield</span><span lang=en-US style='font-size:14.0pt;
  font-weight:bold;language:en-US'>™</span><span lang=en-US style='font-size:
  14.0pt;font-weight:bold;language:en-US'> versus a dehumidifier</span></span></h2>
	  <span style='width:980px;height:224px'>

	  <span style='width:915px;height:623px'>

  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>Does the Envirashield, LLC’s </span><span
  lang=en-US style='font-size:11.0pt;font-style:italic;language:en-US'>ProShield™ Natural Humidity Protection Panel</span><span
  lang=en-US style='font-size:11.0pt;language:en-US'> reduce room humidity as well as an electric dehumidifier?</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>Envirashield, LLC provides a 100% natural desiccant panel proven to reduce humidity within buildings. Since many homes and condominiums are currently using electric dehumidifiers, a comparison test was conducted to determine how well the Proshield™ panel would perform against the dehumidifier.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;font-weight:bold;
  language:en-US'>Procedure:</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>An unoccupied condo unit with an electric dehumidifier installed and operating was selected. Outside and inside temperature, dew point and relative humidity readings were taken to determine the effectiveness of the dehumidifier. The device was unplugged and one ProShield™ panel was then placed prior to the A/C’s system’s return air flow. The unit was then rented to guests.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;font-weight:bold;
  language:en-US'>Conclusion:</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>After just 23 days of testing, the data proved the ProShield™ panel to be much more effective!</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>On follow-up, the outside temperature was 25° hotter, the dew point was 29° higher, and the relative humidity was 21% wetter than on the day of the electric humidifier reading.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>Inside, it was discovered that the condo unit’s thermostat had actually been raised 5° yet the relative humidity inside had dropped 10 points! The maintenance worker assisting with the readings said the air in the unit was much more comfortable now.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>With the electric dehumidifier, the unit’s A/C system was not efficiently removing moisture because the dew point inside the unit was actually HIGHER than the outside. However, the ProShield™ panel actually lowered the inside dew point. In fact, the panel was 52% better!</span></p>

</span>

	  <p style='text-align:center;text-align:center'>
	  &nbsp;</p>
	  
</span>

</span>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
