---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="ProShield">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:240px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>ProShield</span><span lang=en-US style='font-size:
  20.0pt;font-family:"Arial Black";color:red;language:en-US'>™</span></span></h1>
	  <hr /><span style='width:625px;height:80px'>

  <h2 style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;font-family:Arial;font-weight:bold;
  language:en-US'>Reduce Humidity in Commercial Kitchens and </span></h2>
  <h2 style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:14.0pt;font-family:Arial;font-weight:bold;
  language:en-US'>Air Conditioned Rooms Naturally</span></h2>
	  <span style='width:560px;height:250px'>

  <p >&nbsp;</p>
	  <p  style="text-align: center">
	  <span lang=en-US style='font-size:12.0pt;font-weight:bold;
  language:en-US'>ProShield</span><span lang=en-US style='font-size:12.0pt;
  font-weight:bold;language:en-US'>™</span><span lang=en-US style='font-size:
  12.0pt;font-weight:bold;language:en-US'> versus a dehumidifier</span></p>
  <p ><span lang=en-US style='font-size:12.0pt;font-weight:bold;
  language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:12.0pt;language:en-US'>Envirashield, LLC provides a 100% natural desiccant panel proven to reduce humidity within buildings. Since many homes and condominiums are currently using electric dehumidifiers, a comparison test was conducted to determine how well the ProShield™ panel would perform against the dehumidifier.</span></p>
	  <p class=style11 style="text-align: center"><font size="3"><strong>To view 
	  the complete findings, visit the<a href="/proshielddata"> ProShield 
	  Data</a> section.</strong></font></p>

</span>
	  <p style='text-align:center;text-align:center'>
	  <img height="293" src="/index_files/image5211.jpg" width="572" />&nbsp;</p>

</span>
	  <span style='width:980px;height:224px'>

	  <span style='width:190px;height:270px'>

  <p ><span lang=en-US style='font-size:11.0pt;font-weight:bold;
  language:en-US'>Note: </span></p>
  <p ><span lang=en-US style='font-size:11.0pt;font-weight:bold;
  language:en-US'>ProShield</span><span lang=en-US style='font-size:11.0pt;
  language:en-US'>™</span><span lang=en-US style='font-size:11.0pt;language:
  en-US'> uses NO electricity… it helps REDUCE energy. </span><span lang=en-US
  style='font-size:11.0pt;font-weight:bold;language:en-US'>ProShield</span><span
  lang=en-US style='font-size:11.0pt;language:en-US'>™ also produces NO waste-water! </span></p>
  <p ><span lang=en-US style='font-size:11.0pt;font-weight:bold;
  language:en-US'>ProShield</span><span lang=en-US style='font-size:11.0pt;
  language:en-US'>™</span><span lang=en-US style='font-size:11.0pt;language:
  en-US'> has NO moving parts and makes NO noise. </span></p>
  <p ><span lang=en-US style='font-size:11.0pt;language:en-US'>Lasts 5 times longer than dehumidifiers.</span></p>
	  <p class=style10><span style='width:340px;height:60px'>

	  <span lang=en-US style='font-size:12.0pt;color:red;
  font-weight:bold;language:en-US'>ProShield</span><span lang=en-US
  style='font-size:12.0pt;color:red;font-weight:bold;language:en-US'>™ comes in a variety of sizes and installations to best fit your needs.</span></span></p>

</span>

	  <p style='text-align:center;text-align:center'>

	  <img height="256" src="/index_files/image5171.jpg" width="335" />&nbsp;</p>
	  <span style='width:980px;height:334px'>

	
</span>

</span>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
