---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Restaurants, Grocery Stores, Florists">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:710px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Restaurants, Grocery Stores, Florists</span></span></h1>
	  <hr />
	  <h2 style='text-align:center;text-align:center'>
	  <span lang=en-US style='font-size:18.0pt;font-family:"Arial Black";
  color:red;language:en-US'><span style='width:220px;height:60px'>

	  Restaurants</span></span></h2>
	  <span style='width:980px;height:224px'>

	  <span style='width:840px;height:189px'>

  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>The safe preservation of food in Restaurant coolers is critical to the quality and reputation of Chefs and Restaurant managers.</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>EnviraShield’s humidity control panels ensure that your perishables and other cold storage products will remain fresh longer and stay cold.  Your cooler will smell fresh because our panels remove harmful odors and ethylene that can actually ruin the taste of your food.</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>EnviraShield is a proud member of the American Culinary Federation.  We work nationwide with Chefs to ensure that our products are bringing the greatest benefit to our customers.</span></p>

</span>

	  <h2 style='text-align:center;text-align:center'>

	  <span style='width:265px;height:60px'>

	  <span lang=en-US style='font-size:18.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Grocery Stores</span></span></h2>
	  <p  style='text-align:center;text-align:center'>
	  <span style='width:840px;height:120px'>

	  <span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>Although many markets do not store perishables inside their walk-in coolers, they are concerned with the efficiency of their cooler units.  Market owners worldwide are realizing the benefits of humidity control in energy conservation and lower yearly maintenance costs of the coolers.  Many market owners are also enjoying the benefits of reduced insurance premiums due to their coolers being dryer and less hazardous for their employees.</span></span></p>
	  <h2 style='text-align:center;text-align:center'>
	  <span style='width:135px;height:60px'>

	  <span lang=en-US style='font-size:18.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Florists</span></span></h2>
	  <p  style='text-align:center;text-align:center'>
	  <span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'><span style='width:840px;height:92px'>

	  Florist deal with the daily concern of harmful ethylene gas.&nbsp; 
	  Organics naturally produce this compound that when kept in closed storage 
	  can cause rapid damage to floral supplies.&nbsp; Installation of our 
	  panels have helped florists experience increased product life and profits</span></span></p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:980px;height:334px'>

  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:22.0pt;font-weight:bold;language:en-US'>&nbsp;</span></p>

</span>

</span>
	  <p  style='text-align:center;text-align:center; height: 30px;'>
	  &nbsp;</p>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
