---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Testimonials">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:260px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Testimonials</span></span></h1>
 <table>
 <tr>
 <td style="width: 187px; height: 111px">
 <img height="68" src="/index_files/image6451.gif" width="207" /></td>
 <td style="height: 111px; width: 571px">
 <span style='width:520px;height:180px'>

  <p ><span lang=en-US style='font-size:12.0pt;font-style:italic;
  language:en-US'>“The three areas that I was impressed with were the salad bar, seafood department and floral department. - 50% longer life on Salad bar ingredients, no ice build up on seafood cooler and display case and the fish looks better, 50% longer life on fresh cut flowers. I feel that this product is wonderful and inexpensive and should be in all our stores.” </span></p>
  <p  style='text-align:right;text-align:right'><span
  lang=en-US style='font-size:12.0pt;language:en-US'>- Ron Bartow, Store Manager</span></p>

</span>
 </td>
 </tr>
 <tr>
 <td style="width: 187px; height: 202px">
 <img height="120" src="/index_files/image4621.gif" width="280" />&nbsp;</td>
 <td style="height: 202px; width: 571px">
 <span style='width:360px;height:220px'>

  <p ><span lang=en-US style='font-size:12.0pt;font-style:italic;
  language:en-US'>“I have been the chef for The Oar House for nine years and in the business for over twenty and I highly recommend using the humidity panels for freshness in produce and especially fruit maintaining a longer shelf life and enhancing quality of product.”</span></p>
  <p  style='text-align:right;text-align:right'><span
  lang=en-US style='font-size:12.0pt;language:en-US'>- Renato Cordoso, Executive Chef</span></p>

</span>
 </td>
 </tr>
 <tr>
 <td style="width: 187px; height: 269px">
 <img height="141" src="/index_files/image8401.jpg" width="280" />&nbsp;</td>
 <td style="height: 269px; width: 571px">
 <span style='width:415px;height:250px'>

  <p ><span lang=en-US style='font-size:12.0pt;font-style:italic;
  language:en-US'>“In my current restaurant I have noticed a reduction in cross contamination of different food odors in my walk-in cooler. I have also noticed an increase in the quality of my produce and seafood. My lettuce and other vegetables have kept their crispness even after going through the preparation process. I would recommend this product to other P.F. Chang’s Culinary Partners around the country and other restaurants.”</span></p>
  <p  style='text-align:right;text-align:right'><span
  lang=en-US style='font-size:12.0pt;language:en-US'>- Craig Latshaw, Culinary Partner</span></p>

</span>
 </td>
 </tr>
 </table>
        </div>
    </section>
</BaseLayout>
