---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to the World of Envirash">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:710px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>School and Institutional Food Service</span></span></h1>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:880px;height:540px'>

  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>There is no more important application for humidity and ethylene gas control then in the food service areas of School and Institutional Kitchens. </span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>&nbsp;</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>Federally mandated food service programs require Certified Nutritional Program Directors to provide extensive documentation for the safe food preparation condition of their kitchens.</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>&nbsp;</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>Envirashield's Agent will visit each schools food service program.  They will sit with each Kitchen Manager and outline the hazards of walk-in coolers that do not have the Envirashield Humidity Control System in place.  The agent will help you place this on your Critical Control Point check list</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>&nbsp;</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>Upon installation of the Humidity Control Panels  the agent will make a scheduled monthly visit to exchange panels for fresh ones.  They will perform an inspection of the cooler to ensure optimum efficiency.  Then the agent will provide the Kitchen Manager the check sheet to be included in the Food Safety Program, and HACCP documentation</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>&nbsp;</span></p>
  <p  style='text-align:justify;text-kashida-space:50%;text-align:center; text-kashida-space:
  50%'><span lang=en-US style='font-size:11.0pt;font-family:Arial;font-weight:
  bold;language:en-US'>Using our humidity control service provides an excellent contribution to your Food Safety Program and to your Federally mandated HACCP plan.  EnviraShield will assist you with including our monthly humidity control service into your overall plan. Our service will also help you comply with P.L 108-265(as far as your walk-in coolers are concerned.)  This should also help you satisfy the plan requirements of your School Board.</span></p>

</span>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:980px;height:224px'>

	  <h1 class=style9 style='text-align:center;text-align:center'>

	  &nbsp;</h1>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>
	  &nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:980px;height:334px'>

  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:22.0pt;font-weight:bold;language:en-US'>&nbsp;</span></p>

</span>

</span>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
