---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Sun-Pure Air Purification">
    <section class="section">
        <div class="card">
            <span style='width:980px;height:224px'>

  <div  style='padding:2.88pt 2.88pt 2.88pt 2.88pt'
  >
  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h1 style='text-align:center;text-align:center'>
	  <span style='width:380px;height:60px'>

	  <span lang=en-US style='font-size:20.0pt;font-family:"Arial Black";
  color:red;language:en-US'>Sun-Pure</span><span lang=en-US style='font-size:
  20.0pt;font-family:"Arial Black";color:red;language:en-US'>™</span><span
  lang=en-US style='font-size:20.0pt;font-family:"Arial Black";color:red;
  language:en-US'> Purifiers</span></span></h1>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:480px;height:80px'>

	  <p  style='text-align:center;text-align:center'>

	  <span lang=en-US style='font-size:16.0pt;color:#4F69B4;
  font-weight:bold;language:en-US'>Photo-Catalytic Purification&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <img height="30" src="/index_files/image8211.jpg" width="44" /></span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:16.0pt;color:#4F69B4;
  font-weight:bold;language:en-US'>Cleans Air Down to the Last Molecule</span></p>

</span>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>
	  <span style='width:585px;height:135px'>

	  <span lang=en-US style='font-size:12.0pt;language:en-US'>Developed by </span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Sandia Laboratory </span><span
  lang=en-US style='font-size:12.0pt;language:en-US'>and the </span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>National Renewal Energy Laboratory</span><span
  lang=en-US style='font-size:12.0pt;language:en-US'> and used by the </span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>Department of Defense </span><span
  lang=en-US style='font-size:12.0pt;language:en-US'>for destroying toxic organic compounds that are hazardous to human health and the environment. This powerful air cleaning technology is now available for home and office use through your EnviraShield distributor.</span></span></p>
	  <span style='width:980px;height:224px'>

	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p >
	  <img class="style10" height="130" src="/index_files/image7911.jpg" width="302" />&nbsp;<a href="/sunpure-purifiers"><img height="221" src="/index_files/image8231.jpg" width="247" alt="Sun-pure Air  Purifiers" longdesc="SunPure Purifiers.html" /></a></p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <h3 class=style12>
	  How Does It Work?</h3>
	  <hr />
	  <p  style='text-align:center;text-align:center'>&nbsp;</p>
	  <span style='width:980px;height:334px'>

  <p  style='text-align:center;text-align:center'>
  <span style='width:255px;height:420px'>

  <span lang=en-US style='font-size:12.0pt;language:en-US'>The key to Photo-Catalytic Oxidation is the photo catalyst, a chemical compound that becomes highly reactive when exposed to various wavelengths of ultraviolet light. In the presence of organic pollutants—such as solvents, alcohol, carbon monoxide, dyes, and fuel oil—the activated photo catalyst attacks the pollutants’ chemical bonds, converting the toxic compounds into benign constituents such as </span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>water</span><span
  lang=en-US style='font-size:12.0pt;language:en-US'> and </span><span
  lang=en-US style='font-size:12.0pt;font-weight:bold;language:en-US'>carbon dioxide</span><span
  lang=en-US style='font-size:12.0pt;language:en-US'>.</span></span></p>
	  <p  style='text-align:center;text-align:center'>
	  <img height="231" src="/index_files/image8271.jpg" width="326" />&nbsp;</p>
  	<span style='width:650px;height:245px'>

  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>Envirashield is a proud distributor of Sun-Pure Air Purifiers.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>These units are a top of the line model that is specifically designed for school classrooms, restaurants, and offices.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>A Sun-Pure ultimate air purification unit will ensure that your students are in the cleanest bacteria free environment possible.</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>&nbsp;</span></p>
  <p  style="text-align: center"><span lang=en-US style='font-size:11.0pt;language:en-US'>These units are being used throughout Texas school districts such as Mesquite ISD, with over 80 schools.</span></p>

</span>
  <p  style='text-align:center;text-align:center'><span
  lang=en-US style='font-size:22.0pt;font-weight:bold;language:en-US'>&nbsp;</span></p>

</span>

</span>
  </div>

</span>
        </div>
    </section>
</BaseLayout>
