---
---
<aside class="sidebar">
    <h3>Our Solutions</h3>
    <nav class="sidebar-nav">
        <a href="/coolershield" class="sidebar-link">CoolerShield</a>
        <a href="/freezershield" class="sidebar-link">FreezerShield</a>
        <a href="/proshield" class="sidebar-link">ProShield</a>
        <a href="/proshielddata" class="sidebar-link">ProShield Data</a>
        <a href="/sunpure-purifiers" class="sidebar-link">SunPure Purifiers</a>
        <a href="/energysavings" class="sidebar-link">Energy Savings</a>
        <a href="/product-usage" class="sidebar-link">Product Usage</a>
        <a href="/schools" class="sidebar-link">Schools</a>
        <a href="/restaurants" class="sidebar-link">Restaurants</a>
        <a href="/restauranttestimomials" class="sidebar-link">Testimonials</a>
        <a href="/links" class="sidebar-link">Useful Links</a>
    </nav>
</aside>
